* {
  font-family: 'Droid Serif', sans-serif;
}

body {
  margin: auto;
  position: relative;
  width: 960px;
}

text {
  font: 10px sans-serif;
}

.axis path {
  display: none;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.group-label {
  font-weight: bold;
  text-anchor: end;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.index_label {
  position:absolute;
  z-index: 100;
  font-size: 22px;
  color: #e6550d;
}

#chart_container {
  position:relative;
}

#bar_chart {
  width: 900px;
}

.data_block {
  cursor: pointer ;
}