* {
  font-family: 'Droid Serif', sans-serif;
}

a {
  color: #e6550d;
  text-decoration: none;
}

body {
  margin: auto;
  position: relative;
  width: 1100px;
}

text {
  font: 10px sans-serif;
}

.axis path {
  display: none;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.group-label {
  font-weight: bold;
  text-anchor: end;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.index_label {
  position:absolute;
  z-index: 100;
  font-size: 18px;
}

.group_label {
  position:absolute;
  top: 10px;
  font-size: 10px;
  width: 50px;
  font-weight:bold;
}

.axis_label {
  position:absolute;
  left: 0;
  width: 100px;
  text-align:right;
  font-size: 10px;
  height: 30px;
  display: table;
}

.axis_label .text {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  font-weight: bold;
}

#chart_container {
  position:relative;
}

#bar_chart {
  float: left;
  width: 750px;
  margin-top: 30px;
}

#sidebar {
  float:left;
  width: 300px;
}

#sidebar h3 {
  font-size: 24px;
  margin: 0 0 20px;
}
#sidebar h4 {
  font-size: 14px;
  margin: 0 0 25px;
}

ul li {
  font-size: 12px;
  color: #666;
  margin-bottom: 8px;
}

#description_group_0 h3, #description_group_0 h4, .open_data {
  color: #3182bd;
}

#description_group_1 h3, #description_group_1 h4, .financial_reporting {
  color: #e6550d;
}

#description_group_2 h3, #description_group_2 h4, .foi_compliance {
  color: #31a354;
}

#description_group_3 h3, #description_group_3 h4, .online_access {
  color: #756bb1;
}

#description_group_4 h3, #description_group_4 h4, .overdue_qon {
  color: #636363;
}

#description_group_0 {
  border-left: 5px solid #c6dbef;
}

#description_group_1 {
  border-left: 5px solid #fdd0a2;
}

#description_group_2 {
  border-left: 5px solid #c7e9c0;
}

#description_group_3 {
  border-left: 5px solid #dadaeb;
}

#description_group_4 {
  border-left: 5px solid #d9d9d9;
}

#description_group_stacked {
  display: block;
}


#sidebar p {
  font-size: 12px;
  color: #666;
}

#sidebar p.source {
  font-size: 10px;
}

h1 {
  font-size: 32px;
  line-height: 34px;
  margin: 10px 0px 0 0;
  color: #e6550d;
}
h2 {
  margin-top: 10px;
  font-weight: normal;
  line-height: 16px;
  color: #333;
  font-size: 12px;
}

  .item_detail {
    background: #fafafa;
    border-left: solid 5px #d9d9d9;
    display: none;
    margin-top: 20px;
    padding: 20px;
  }

#footer {
  position: absolute;
  top: 680px;
  font-size: 11px;
  color: #666;
}

.data_block {
  cursor: pointer ;
}